body {
    padding: 0;
    margin: 0;
    background: rgb(18, 0, 24); 
    height: 100%;
    display: flex;
}


canvas {
    background: lime;
    width: 100%;
    object-fit: contain;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    
}

img {
    display: none;
}
