body {
    padding: 0;
    margin: 0;
    background: rgb(18, 0, 24); 
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.randol{
    z-index: 10;
}

canvas {
    background: lime;
    width: 60%;
    object-fit: contain;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    border:2px solid whitesmoke;
    margin-top: 5%;
    
}

.ctrls {
    color: whitesmoke;
    margin: 10px;
    font-family: monospace;
    background: rgba(128, 128, 128, 0.189);
    padding: 5px;
    border: 1px solid white;
    text-align: center;
}

.author{
    color: white;
    position: absolute;
    bottom: 10%;
}

button {
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
    letter-spacing: 1px;
    border: 2px solid magenta;
}

img {
    display: none;
}

.background {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    
}
