body {
    padding: 0;
    margin: 0;
    background: rgb(18, 0, 24); 
    height: 100%;
    display: flex;
    flex-direction: column;
}


canvas {
    background: lime;
    width: 100%;
    object-fit: contain;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    
}


button {
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
    letter-spacing: 1px;
    border: 2px solid magenta;
}

img {
    display: none;
}

.background {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    
}